/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~angular2-toaster/toaster.css';

body {
    margin: 0;
}
.content {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}